* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 12vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  background-color: rgb(45, 117, 168);
}

img {
  width: 300px;
  height: 300px;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

button {
  padding: 10px;
  background: black;
  color: rgb(79, 54, 219);
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.favorite {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  background-color: rgb(179, 146, 202);
}

.book-details {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* text-align: center; */
  padding: 10px;
}

.book-description {
  margin: 0 10px;
}

.search-btn input {
  font-size: medium;
  border-radius: 6px;
}

.blank {
  color: red;
  text-shadow: 1px 5px 10px 0;
}
